{% extends "layout.html" %}

  {% block title %}
      Add Members

  {% endblock %}


  {% block main %}
        <div class="control-group" id="fields">

          <div class="controls">
               <form role="form" autocomplete="off" action="/add/{{group}}" method="post">
                  <label class="control-label" for="field1">Adding to Selected Group: </label>
                  <br>
                   <input class="form-control" name="group_name" type="text" value="{{group}}" readonly/>
                   <br><br>
                   <label class="control-label" for="field1">Add Members</label>
                  <div class="entry input-group">
                    <input class="form-control" name="fields[]" type="text" placeholder="Player name" />
                  	<span class="input-group-btn">
                          <button class="btn btn-success btn-add" type="button">
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                    </span>
                  </div>
                </div>
                <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another player</small>
                <br><br>
                    <button class="btn btn-secondary" type="submit" name="create"><strong>ADD MEMBERS</strong></button>

              </form>
          <br>
      </div>


  {% endblock %}
