{% extends "layout.html" %}

  {% block title %}
      Story Archive
  {% endblock %}

  {% block main %}
      {% if stories %}
      These are your stories (show date, group etc in table) - click to read them!<br>

        <table>
          {% for story in stories %}
          <tr>
            <td><a href="/story/{{story}}">Story ended {{story}}</a></td>


          </tr>
          {% endfor %}
        </table>

      {% else %}
        <p>You have not written any stories yet!</p>
      {% endif %}
  {% endblock %}
