{% extends "layout.html" %}

  {% block title %}
      Group Name
  {% endblock %}

  {% block main %}

      Group: {{group["group_name"]}}<br>
      Members:<br>
      {% for member in members %}
       {{member["name"]}}<br>
      {% endfor %}<br>
      <form>
        <button name="leave" class="btn btn-secondary" type="submit" formaction="/leave_group/{{group}}">Leave Group</button><br>
        <button name="add" class="btn btn-secondary" type="submit" formaction="/add/{{group["group_name"]}}"> Add Members</button>
      </form>
      <br>


  {% endblock %}
