<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/pen.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!--https://bootsnipp.com/snippets/ykXa for dynamic fields in new group-->
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/add_dyn_fields.js"></script>

        <title>Cadavre Exquis: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand mb-4" href="/"><span class="blue">Cadavre Exquis</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-3">

                        <li class="nav-item"><a class="nav-link" href="/live_game">Live Story</a></li>
                        <li class="nav-item"><a class="nav-link" href="/archive">Archive</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" role="button" data-toggle="dropdown" >Groups</a>
                          <ul class="dropdown-menu">
                            <li><a href="/new_group">Start new group</a></li>
                            <li><a href="/groups">My groups</a></li>

                          </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right ml-auto mt-3 mr-2">
                        <li class="nav-item" ><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sign_up">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        {% if session.user_id %}

        <div class="media" align="left">

          <img class="p-2 mt-0 mb-2" src="{{url_for('static',filename='pen.png')}}" class="align-self-start mr-3" height="60" width="60" alt="...">

          <div class="media-heading">
            <h4 class="mt-1">Welcome {{ session.name }}!</h5>

          </div>
        </div>

        {% endif %}

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-4">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted" id="footer">
            Credits, Made on Python 3.7 etc <a href="https://iextrading.com/developer">PROVIDER</a>. View <a href="https://iextrading.com/api-exhibit-a/">PROVIDER’s Terms of Use</a>.
        </footer>

    </body>

</html>
